.theme-dark {
    --background-primary: rgb(30, 30, 30);
    --background-primary-alt: rgb(0, 0, 0);
    --background-secondary: rgb(45,45,45);
    --background-secondary-alt: rgb(54, 56, 56);
    --background-modifier-border: rgb(0, 0, 0);
    --background-modifier-form-field: rgba(0, 0, 0, 0.3);
    --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
    --background-modifier-success: #197300;
    --background-modifier-error: #3d0000;
    --background-modifier-error-rgb: 61, 0, 0;
    --background-modifier-error-hover: #470000;
    --background-modifier-cover: rgba(0, 0, 0, 0.6);
    --markdown-format-color: rgba(255,255,255,.3);
    --sidebar-icon-color: #cecece;
    --sidevar-right-background: #383838;
    --text-accent: rgb(242, 109, 109);
    --text-accent-hover: rgb(242, 109, 109);
    --text-normal: rgb(241, 244, 244);
    --text-muted: rgb(245, 245, 245);
    --text-faint: rgb(126, 127, 127);
    --text-error: #ff3333;
    --text-error-hover: #990000;
    --text-highlight-bg: rgba(255, 255, 0, 0.4);
    --text-selection: rgba(23, 48, 77, 0.99);
    --text-on-accent: #dcddde;
    --interactive-normal: #2a2a2a;
    --interactive-hover: #303030;
    --interactive-accent: #1170dc;
    --interactive-accent-rgb: 153, 54, 54;
    --interactive-accent-hover: #a63c3c;
    --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
    --scrollbar-bg: rgba(255, 255, 255, 0.05);
    --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
    --btn-bg: rgb(103, 106, 106);
    --btn-content: rgb(230, 233, 233);
    --btn-highlight-bg: rgb(69, 71, 71);
    --btn-highlight-content: rgb(182, 184, 184);
    --divider-border: rgb(0, 0, 0);
    --blockquote-back: rgba(255, 255, 255, .2);
    --blockquote-border: rgba(255, 255, 255, .5);
    --internal-link-background: #22394e;
    --internal-link-border: #3169a3;
    --link-color: #82b8f3;
}

.theme-light {
    --background-primary: #ffffff;
    --background-primary-alt: #f5f6f8;
    --background-secondary: #f7f7f7;
    --background-secondary-alt: #e3e5e8;
    --background-accent: #fff;
    --background-modifier-border: #ddd;
    --background-modifier-form-field: #fff;
    --background-modifier-form-field-highlighted: #fff;
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
    --background-modifier-success: #A4E7C3;
    --background-modifier-error: #e68787;
    --background-modifier-error-rgb: 230, 135, 135;
    --background-modifier-error-hover: #FF9494;
    --background-modifier-cover: rgba(0, 0, 0, 0.8);
    --markdown-format-color: rgba(0,0,0,.3);
    --sidebar-icon-color: #5b5b5b;
    --sidevar-right-background: #f0f0f0;
    --sidebar-right-border: #ececec;
    --text-accent: #ef5d5d;
    --text-accent-hover: #e66a6a;
    --text-normal: #2e3338;
    --text-muted: #888888;
    --text-faint: #999999;
    --text-error: #800000;
    --text-error-hover: #990000;
    --text-highlight-bg: rgba(255, 255, 0, 0.4);
    --text-selection: rgba(204, 230, 255, 0.99);
    --text-on-accent: #f2f2f2;
    --interactive-normal: #f2f3f5;
    --interactive-hover: #e9e9e9;
    --interactive-accent: #1170dc;
    --interactive-accent-rgb: 217, 108, 108;
    --interactive-accent-hover: #e67373;
    --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.2);
    --scrollbar-bg: rgba(0, 0, 0, 0.05);
    --scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);
    --btn-bg: #ddd;
    --btn-content: #ddd;
    --btn-highlight-bg: #ddd;
    --btn-highlight-content: #666;
    --divider-border: rgb(235, 226, 228);
    --blockquote-back: rgba(0, 0, 0, .03);
    --blockquote-border: rgba(0, 0, 0, .06);
    --internal-link-background: #eef6ff;
    --internal-link-border: #bcdbff;
    --link-color: #1170dc;

}


html,
body {
    font-family: -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.view-header,
.workspace-leaf.mod-active .view-header {
    border-bottom: 1px solid var(--background-modifier-border);
    padding-top: 2px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.view-header .view-header-title {
    font-size: 12px;
}

.view-header:not(:hover) .view-actions {
    opacity: 0.1;
    transition: opacity .40s ease-in-out;
}

.view-header .view-action:hover {
    color: var(--btn-highlight-content);
}

.status-bar:not(:hover) .status-bar-item {
    opacity: 0.25;
    transition: opacity .40s ease-in-out;
}

.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
    font-weight: 800;
    line-height: 1.6;
}

.view-header:not(:hover) .view-actions,
.status-bar:not(:hover) .status-bar-item {
    opacity: 0.5;
}
a{
    color:#1170dc !important;
}
.markdown-preview-view blockquote {
    margin-inline-start: 0px;
    border: 1px solid var(--blockquote-border);
    border-left: 6px #1170dc solid;
    padding: 20px;
    background: var(--blockquote-back);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 13px 0;
    opacity: 1;
}

.view-header .view-header-title {
    font-size: 16px;
}

.markdown-preview-view p,
.markdown-preview-view ul,
.markdown-preview-view ol,
.CodeMirror pre.CodeMirror-line {
    font-size: 1rem;
    line-height: 2 !important;
}

.markdown-preview-view hr {
    border: none;
    border-top: 1px solid var(--text-faint);
}

.markdown-preview-view .internal-embed {
    margin: 0 0 0 16px;
    padding: 0;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.markdown-preview-view .file-embed .file-embed-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 32px;
    padding-right: 32px;
}

.markdown-preview-view .file-embed {
    margin: 0;
    padding: 0px 10px;
    border: 0;
    background: var(--text-faint);
    border-radius: 32px;
}

.markdown-preview-view .file-embed-link {
    color: var(--text-normal);
}

.workspace-split.mod-vertical>*>.workspace-leaf-resize-handle,
.workspace-split.mod-left-split>.workspace-leaf-resize-handle,
.workspace-split.mod-right-split>.workspace-leaf-resize-handle {
    background: transparent;
    border-right: 1px solid var(--divider-border);
}

.workspace-tabs {
    padding: 0;
}

.nav-header {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.nav-buttons-container {
    height: 28px;
    padding: 0px 1px 0px 0px;
    justify-content: flex-end;
}

.nav-buttons-container:hover {
    cursor: default;
}

.nav-action-button {
    height: 28px;
    margin: 0px;
    border-radius: 0;
    color: var(--btn-content);
}

.nav-action-button svg {
    height: 80%;
}

.nav-action-button:hover {
    background-color: var(--btn-highlight-bg);
    color: var(--btn-highlight-content);
    border-radius: 4px;
    cursor: default;
}

.nav-files-container {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.nav-folder.mod-root>.nav-file-title,
.nav-folder.mod-root>.nav-folder-title {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--text-faint);
    letter-spacing: 0.05rem;
}

.nav-folder.mod-root>.nav-file-title,
.nav-folder.mod-root>.nav-folder-title:hover {
    color: var(--text-faint);
}

.nav-folder {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.nav-folder-title,
.nav-file-title,
.nav-file-title-content {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px !important;
    line-height: 19px;
    font-weight: normal;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    border-radius: 0;
}

.nav-folder-children,
.nav-file {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.outline .collapsible-item-children {
    margin-left: 16px;
    border-left: 1px solid var(--background-secondary-alt);
    transition: all 0.5s ease-in-out;
}

.outline .collapsible-item-children:hover {
    border-left-color: var(--background-secondary-alt);
}

.nav-folder-children .nav-folder-children {
    margin-left: 16px;
    padding-left: 0;
    border-left: 1px solid var(--background-secondary-alt);
    transition: all 0.5s ease-in-out;
}

.nav-folder-children .nav-folder-children:hover {
    border-left-color: var(--background-secondary-alt);
}

.menu-item,
.view-action,
.workspace-ribbon-collapse-btn,
.side-dock-ribbon-tab,
.side-dock-ribbon-action,
.side-dock-collapse-btn,
.side-bar-item.mod-clickable,
.nav-action-button,
.nav-file-title,
.nav-folder-title,
.search-result-file-match,
.titlebar-button {
    cursor: default;
}

.markdown-preview-view .file-embed {
    background: rgba(0, 0, 0, .1);
    padding-top: 5px;
}

.nav-folder-title,
.nav-file-title,
.nav-file-title-content {
    color: var(--text-normal);
    font-weight: 600;
}

.nav-action-button {
    color: var(--text-faint)
}


.status-bar {
    justify-content: space-between;
    color: var(--text-faint) !important;
}

.markdown-preview-view .internal-link,
.external-link {
    margin: 0 3px;
    border-bottom: 1px solid;
    text-decoration: none !important;
    font-weight: 500;
}


/* .view-header {
  writing-mode: vertical-lr;
  border-right: 1px solid var(--background-secondary-alt);
  border-left: 1px solid var(--background-secondary-alt);
  border-top: none;
  border-bottom: none;
  height: auto;
  width: 44px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
} */


/* .view-header-title {
    letter-spacing: 1px;
}

.view-header-title-container {
    padding: 10px 0 0 5px;
} */

.workspace-split.mod-root>.workspace-leaf:first-of-type:last-of-type.mod-active .view-header-title-container:after {
    background: none;
}


/* .view-actions {
    padding: 0 !important;
}

.view-action {
    margin: 10px 8px;
} */

.view-content {
    height: 100%;
}

.workspace-split.mod-root>.workspace-leaf:first-of-type:last-of-type .view-header {
    border-bottom: none !important;
}

.tag {
    text-decoration: none;
    font-weight: 600;
    border: 1px solid #1170dc;
    border-radius: 20px;
    padding: 3px 10px;
    ;
}

.tag:hover {
    font-weight: 600;
    background: var(--blockquote-back);
    border: 1px solid #DE6762;
    border-radius: 20px;
    padding: 3px 10px;
    ;
}

.graph-controls {
    left: 18px;
}


/* settings */

.vertical-tab-nav-item {
    font-weight: 600;
}


/* markdown */
.cm-header-1,.cm-header-2,.cm-header-3,.cm-header-4,.cm-header-5{
    font-size: 1rem !important;
}
.cm-strong,.cm-hmd-internal-link,.cm-formatting-link,.cm-formatting-quote,.cm-quote,.cm-link,.cm-url{
    color: var(--link-color) !important;
}
.cm-formatting-header{
    color:var(--markdown-format-color);
}
.cm-inline-code{
    color: #085506  !important;
    background: #e8f8e6  !important;
    padding: 4px 3px !important;
}
.cm-em{
    color: #f7821b !important;
    font-style: normal;
}
.cm-highlight{
    background: #ffecc3 !important;
    color: #725417 !important;
}
.cm-hmd-internal-link{
    color: #1170dc;
    border: 1px solid var(--internal-link-border);
    border-radius: 3px;
    margin: 4px;
    padding: 1px 2px;
    background: var(--internal-link-background);
}
.cm-hmd-codeblock{
    color: #238c9f !important;
    
}
.cm-s-obsidian div.HyperMD-codeblock-bg{
    background: #e5f7fa !important;
}
.nav-file-title-content{
    font-weight: 500 !important;
}
.nav-action-button,.side-dock-ribbon-action,.view-action,.status-bar-item{
    color: var(--sidebar-icon-color) !important;
}
.view-header:not(:hover) .view-actions, .status-bar:not(:hover) .status-bar-item{
    opacity: 1;
}
.nav-file,.nav-folder{
    padding: 0 2px;
}
.nav-file-title.is-active,.nav-file-title.is-active, .nav-folder-title.is-active, body:not(.is-grabbing) .nav-file-title:hover, body:not(.is-grabbing) .nav-folder-title:hover{
    border-radius: 0px;
}
.workspace-leaf-content[data-type='markdown'] .view-content{
    padding: 20px 0 !important; 
}
.tree-item{
    padding-bottom: 5px;
}
.nav-header{
    padding-bottom: 10px !important;
}

.oz-image-widget>img{
    max-width: 50% !important;
}

.horizontal-tab-nav-item, .vertical-tab-nav-item{
    font-size: 14px !important;
}

/* sidebar-right */
.search-result-file-match{
    margin: 6px 0;
    border-radius: 8px;
    position: relative;
    left: 1px;
    padding: 10px 24px;
    white-space: pre-wrap;
    width: calc(100% - 20px);
    background:var(--sidevar-right-background);
    border: 1px solid var(--sidebar-right-border);
}
